<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ATCalendar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ATCalendarDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ATCalendarResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Mogenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>401297BD16F21CA100C0DC35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4046276C1737E57900EA06BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>404627B41737E8D300EA06BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>405EC2C116F219B400F590DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>405EC2EF16F219B400F590DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
